### Sol 1

In [1]:
def find_the_difference(s,t):
    for i in t:
        if i not in s:
            return(i)
        
find_the_difference("abcd","abcde")

'e'

In [4]:
find_the_difference("","y")

'y'

### Sol 2

In [28]:
def count_datatypes(*args):
    di={}
    d={int:0,str:0,bool:0,list:0,tuple:0,dict:0}
    for i in args:
        if type(i) in d.keys():
            d[type(i)]= d[type(i)]+1
    print(list(d.values()))
    
count_datatypes(1,45,"Hi",False)

[2, 1, 1, 0, 0, 0]

In [29]:
count_datatypes([10, 20],("t","OK"), 2, 3, 1)

[3, 0, 0, 1, 1, 0]

### Sol 3

In [70]:
def fib_str(n,l):
    s0=l[0]
    s1=l[1]
    
    for i in range(n-2):
        ni=s1+s0
        l.append(ni)
        s0=s1
        s1=ni 
        
    return(", ".join(l))

fib_str(5,["e","a"])

'e, a, ae, aea, aeaae'

In [71]:
fib_str(6,["n","k"])

'n, k, kn, knk, knkkn, knkknknk'

### Sol 4

In [77]:
def ones_three_nines(n):
    
    if n>18:
        ni=2
        r1=n%9
        if r1>3:
            th=r1//3
            on=r1%3
        else:
            th=0
            on=r1
    elif n>=9 and n<18:
        ni=1
        r2=n%9
        if r2>3:
            th=r2//3
            on=r2%3
        else:
            th=0
            on=r2
    else:
        ni=0
        th=n//3
        on=n%3
                
    print("nines : {0}, threes: {1}, ones : {2}".format(ni,th,on))
            
                     
ones_three_nines(15)

nines : 1, threes: 2, ones : 0

In [79]:
ones_three_nines(26)

nines : 2, threes: 2, ones : 2

### Sol 5

In [67]:
def fib(n):
    
    n1=0
    n2=1
    l=[0,1]
    
    for i in range(n-1):
        nth=n1+n2
        l.append(nth)
        n1=n2
        n2=nth
        
    return(l[n])

fib(6)

8

In [68]:
fib(2)

1