### Solution 1

In [1]:
K= int(input("enter the value in miles ")) #enter the value in kilometres 
c2m= 0.6214*K #converting in miles 
print(c2m)

enter the value in miles 45
27.962999999999997

### Solution 2

In [3]:
C= int(input("enter the value in miles ")) #enter the temp in celcius  
c2F= (9/5)*C +32 #converting in farenheit 
print(c2F)

enter the value in miles 45
113.0

### Solution 3

In [5]:
import calendar 
yr=int(input("enter the year "))
m=int(input("enter the month "))
print(calendar.month(yr,m))

enter the year 2017
enter the month 5
      May 2017
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

### Solution 4

In [8]:
import cmath
a=int(input("enter the value "))
b=int(input("enter the value "))
c=int(input("enter the value "))
d=cmath.sqrt(b^2-4*a*c)
val1= (-b-d)/(2*a)
val2= (-b+d)/(2*a)
print("the values are {0} and {1}".format(val1,val2))

enter the value 1
enter the value 5
enter the value 6
the values are (-2.5-2.0615528128088303j) and (-2.5+2.0615528128088303j)

### Solution 5

In [9]:
a= int(input("enter the number ")) #enter the number
b=int(input("enter the number ")) #enter the number 
b,a=a,b
print(a)
print(b)

enter the number 18
enter the number 2
2
18