### Solution1

In [9]:
n=int(input("enter the number"))
factorial=1
if n==0:
    print("factorial of 0 is 1")
else:
    for i in range(1,n+1):
        factorial=factorial*i
    print("factorial of {0} is {1} ".format(n,factorial))

enter the number7
factorial of 7 is 5040

### Solution 2

In [14]:
n=int(input("enter the number u want to find table of "))
for i in range(1,11):
    product=n*i
    print("{0} times {1} is {2}".format(n,i,product))

enter the number u want to find table of 5
5 times 1 is 5
5 times 2 is 10
5 times 3 is 15
5 times 4 is 20
5 times 5 is 25
5 times 6 is 30
5 times 7 is 35
5 times 8 is 40
5 times 9 is 45
5 times 10 is 50

### Solution 3

In [20]:
n=int(input("enter the number uptil when u want to find the fibonacci series"))
n1,n2=0,1
if n==1:
    print(n1)
else:
    for i in range(0,n):
        print(n1)
        ns=n1+n2
        n1=n2
        n2=ns

enter the number uptil when u want to find the fibonacci series14
0
1
1
2
3
5
8
13
21
34
55
89
144
233

### Solution 4 [For 3 digits]

In [35]:
n=int(input("enter the number "))
sum=0
for digits in str(n):
    d=int(digits)
    cube=d**3
    sum=sum+cube
if sum==n:
    print("{0} is a armstrong number".format(n))
else:
    print("{0} is not an armstrong number".format(n))

enter the number 417
417 is not a armstrong number

### For n digits

In [37]:
n=int(input("enter the number "))
no_of_digits=len(str(n))
sum=0
for digits in str(n):
    d=int(digits)
    c=d**no_of_digits
    sum=sum+c
if sum==n:
    print("{0} is a armstrong number".format(n))
else:
    print("{0} is not a armstrong number".format(n))

enter the number 1634
1634 is a armstrong number

### Solution 5

In [42]:
lower=int(input("enter the lower limit of interval "))
upper=int(input("enter the upper limit of interval "))
for i in range(lower,upper+1):
    no_of_digits=len(str(i))
    sum=0
    for digits in str(i):
        d=int(digits)
        c=d**no_of_digits
        sum=sum+c
    if sum==i:
        print("{0} is a armstrong number".format(i))

enter the lower limit of interval 100
enter the upper limit of interval 2000
153 is a armstrong number
370 is a armstrong number
371 is a armstrong number
407 is a armstrong number
1634 is a armstrong number

### Solution 6

In [47]:
n=int(input("enter the number "))
sum=0
for i in range(1,n+1):
    sum=sum+i
print(sum)

enter the number 15
120